<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side" opened="isExpanded" (menuButtonClick)="onChangeLeftSideNav()">
    <simples-sidenav (sideNavClosed)="onChangeLeftSideNav()" [menuItens]="appitems"></simples-sidenav>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" style="overflow-y: hidden;">
    <simples-header-mobile (sideNavClosed)="onChangeLeftSideNav()"> </simples-header-mobile>
    <router-outlet></router-outlet>
    <simples-footer-mobile (sideNavClosed)="onChangeLeftSideNav()"> </simples-footer-mobile>
  </mat-sidenav-content>

</mat-sidenav-container>
